/*
Project Name: EL Conferencing Services
Client: ELDST 
Author: Carmen Martinez
Developer @GA in DC
*/

/******************************************
/* SETUP
/*******************************************/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

.container {
  width: 100%;
  margin: auto;
}

.header {
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(#186892, #3fabe6, #f0efef);
  margin: auto;
  padding: 10px 0px 10px 30px;
  display: flex;
  justify-content: center;
}

.header a {
  color: white;
  text-decoration-line: none
}

.header li {
  list-style-type: none;
  flex: 1;
  display: inline;
  padding-right: 30px;
}

.content {
  padding: 10px 30px 10px 30px;
  background: #f0efef;
  display: flex;
  flex-direction: row;
  grid-gap: 20px;
}

.main {
  width: 700px;
  flex: 2;
}

.main h1,
h2 {
  color: grey;
  font-size: 32px;
  font-weight: 800;
  text-align: center
}

.meeting {
  width: 100%;
}

.meetingtype {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.main p {
  font-size: 24px;
  font-weight: 300;
  text-align: justify;
  padding: 20px;
}

/* FORM */

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical/* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
  background-color: #3fabe6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=submit]:hover {
  background-color: #3fabe6;
}

/* Add a background color and some padding around the form */

.form {
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* FORM */

.info {
  margin: auto;
  padding: 10px;
}

.iconimg {
  height: 226;
  width: 227;
  border-radius: 10px;
  padding: 30px, 30px, 30px, 30px;
}

.sidebar {
  background: linear-gradient(#f0efef, lightgrey, grey, lightgrey, #f0efef);
  padding: 10px 30px 10px 30px;
  width: 240px;
  flex: 1;
  order: -1;
}

.ellogo {
  width: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
}

.sidebarimg {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 8px 8px grey inset;
}

.sidebar h3 {
  color: grey;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
}

.sidebar li {
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.sidebar a {
  color: #087ab8;
}

.sidebar p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: justify;
}

.footer {
  background: linear-gradient(#f0efef, #3fabe6, #186892);
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  padding: 20px 60px 20px 60px;
}

.footer p {
  margin: 5px;
}

.footer a {
  color: white;
  text-decoration-line: none
}
.footer button {
  background: #3fabe6;
  font: 12px;
  font-weight: 800;
  color: white;
  width: auto;
  border-radius: 10px;
  text-align: right;
  padding: 20px 60px 20px 60px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/